@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* bgColors */
  --bgColors: #333a73;
  --bgMain: #387adf;

  /*	fonts	*/
  --poppinsFont: "Poppins", sans-serif;
  --interFont: "Inter", sans-serif;
}

body {
  font-family: var(--interFont);
  background-color: var(--bgColors);
}

.wrapper {
  min-width: 350px;
  width: 750px;  
  margin: 0 auto;
  background-color: var(--bgMain);
}
