@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* bgColors */
  --bgColors: #333a73;
  --bgMain: #387adf;

  /*	fonts	*/
  --poppinsFont: "Poppins", sans-serif;
  --interFont: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgColors);
}

.wrapper-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 950px;
  width: 100%;
  padding: 0 20px;
  margin: 0 1rem;
  background-color: var(--bgMain);
  border-radius: 15px;
}

.wrapper-title {
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-family: var(--poppinsFont);
  font-size: 2rem;
}

.wrapper-validator {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: max(50px) 0;
  border-radius: 10px;
  height: 80%;
  width: 500px;
  background-color: #fff;
  font-family: var(--interFont);
}

.input {
  width: 100%;
  margin: 15px 0;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid black;
}

.result {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  border: 2px solid #148f14;
  text-align: center;
}

.hiden {
  display: none;
}

.invalid {
  border: 2px solid red;
}

.wrapper-btn {
  align-self: flex-end;
}

.btn {
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: var(--interFont);
  cursor: pointer;
}

.btn-bgBlue {
  color: #fff;
  background-color: var(--bgMain);
  border: none;
  margin-left: 10px;
}

.btn-bgBlue:hover {
  background-color: #333a73;
}

.btn-bgWhite {
  border: 1px solid;
}

.btn-bgWhite:hover {
  color: #fff;
  font-weight: 700;
  background-color: var(--bgMain);
}

@media (max-width: 900px) {
  .wrapper-title {
    margin: 10px 0;
    padding: 0;
  }

  .wrapper-validator {
    margin: 18px;
  }
}
