@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* bgColors */
  --bgColors: #333a73;
  --bgMain: #387adf;

  /*	fonts	*/
  --poppinsFont: "Poppins", sans-serif;
  --interFont: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgColors);
}

.wrapper-hero {
  display: flex;
  justify-content: space-around;
  max-width: 750px;
  width: 100%;
  padding: 20px;
  margin: 0 1rem;
  background-color: var(--bgMain);
  border-radius: 15px;
}

.wrapper-title {
  color: #fff;
  font-family: var(--poppinsFont);
  font-size: 1.8rem;
}

